<!---takes the users back to the dashboard--->
<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>

<article class="new-page">

    <section class="new-form-page">
        
    <!--takes user to the page for creating new posts-->
        <div class="form-heading">
            <h2>Create New Blog Post</h2>
        </div>

    <!-- section for posts input info-->
        <div class="form-section">

            <form class="new-post-form">

            <!--post topic--->
                <div class="post-title-section">
                    <label for="post-title">Topic</label>
                    <input type="text" id="post-title" name="post-title" />
                </div>

             <!---post content--->
                <div class="post-content">
                    <label for="post-content">Content</label>
                    <textarea class="entry-field" id="post-content" name="post-content"></textarea>
                </div>

            <!---post button--->
                <button type="submit" class="btn">POST</button>

            </form>
        </div>
    </section>
</article>

<script src="/javascript/add-post.js"></script>